body{background-color: grey;
    font-family: Arial;}
    h1{
        text-align: center;}
    button {
        display:inline-block;
        width: 80px;
        height: 30px;}
    p,form{
        text-align: center;}
    .fontsize{
          font-size:xx-large;}
    .rightalign{
        text-align: right;
        text-decoration: solid;}